.background-none {
    background: none !important;
}

.promo .overview .download-area li.win-buy-btn a {
    background-color: #00a700ff;
    background-image: url('../images/buttons/btn-win-buy.png');
}

    .promo .overview .download-area li.win-buy-btn a:hover {
        background-color: #007d00ff;
    }

.promo .overview .download-area li.win-buy-btn-en a {
    background-color: #00a700ff;
    background-image: url('../images/buttons/btn-win-buy-eng.png');
}

    .promo .overview .download-area li.win-buy-btn-en a:hover {
        background-color: #007d00ff;
    }

.promo .overview .download-area li.win-download-btn a {
    background-image: url('../images/buttons/btn-win-download.png');
}

.promo .overview .download-area li.win-download-btn-en a {
    background-image: url('../images/buttons/btn-win-download-eng.png');
}

.img-rounded {
    border-radius: 50% !important;
}

.font-size-100 {
    font-size: 100% !important;
}

.feature-modal-icon-padding {
    padding: 0px;
    padding-bottom: 30px;
}

.active-payment {
    opacity: 1 !important;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: green;
}

.deactive-payment {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: #777777;
    opacity: 0.6 !important;
}

.deactive-payment {
    opacity: 1 !important;
}

.img-icon {
    width: 80% !important;
    height: 50px !important;
}

.opocity-default:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1 !important;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.opocity-default {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    opacity: 0.5 !important;
}

/* ======= Introduction Section ======= */
.introduction {
    padding: 80px 0;
    padding-bottom: 20px;
}

    .introduction .content {
        padding: 0 30px;
    }

        .introduction .content .title {
            margin-top: 0;
            margin-bottom: 30px;
        }

        .introduction .content .intro {
            margin-bottom: 30px;
            font-size: 16px;
            font-weight: 300;
            color: #777777;
        }

.features .container .title {
    margin-top: 0;
    margin-bottom: .5rem;
}

.img-scale {
    width: 80%;
    height: 80%;
}

.ekko-lightbox-nav-overlay a {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0;
    transition: opacity .5s;
    color: black;
    font-size: 30px;
    z-index: 1
}

.payments-title {
    font-family: 'Lato', arial, sans-serif;
    color: #444;
}

.payments-info {
    font-size: 16px;
    font-weight: 300;
    color: #777777;
}

.font-size-60 {
    font-size: 60% !important;
}

.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.jssora106 {
    display: block;
    position: absolute;
    cursor: pointer;
}

    .jssora106 .c {
        fill: #fff;
        opacity: .3;
    }

    .jssora106 .a {
        fill: none;
        stroke: #000;
        stroke-width: 350;
        stroke-miterlimit: 10;
    }

    .jssora106:hover .c {
        opacity: .5;
    }

    .jssora106:hover .a {
        opacity: .8;
    }

    .jssora106.jssora106dn .c {
        opacity: .2;
    }

    .jssora106.jssora106dn .a {
        opacity: 1;
    }

    .jssora106.jssora106ds {
        opacity: .3;
        pointer-events: none;
    }

.jssort101 .p {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: #000;
}

    .jssort101 .p .cv {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #000;
        box-sizing: border-box;
        z-index: 1;
    }

.jssort101 .a {
    fill: none;
    stroke: #fff;
    stroke-width: 400;
    stroke-miterlimit: 10;
    visibility: hidden;
}

.jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {
    border: none;
    border-color: transparent;
}

.jssort101 .p:hover {
    padding: 2px;
}

    .jssort101 .p:hover .cv {
        background-color: rgba(0,0,0,6);
        opacity: .35;
    }

    .jssort101 .p:hover.pdn {
        padding: 0;
    }

        .jssort101 .p:hover.pdn .cv {
            border: 2px solid #fff;
            background: none;
            opacity: .35;
        }

.jssort101 .pav .cv {
    border-color: #fff;
    opacity: .35;
}

.jssort101 .pav .a, .jssort101 .p:hover .a {
    visibility: visible;
}

.jssort101 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: .6;
}

.jssort101 .pav .t, .jssort101 .p:hover .t {
    opacity: 1;
}

.dropdown-toggle-styled {
    background-color: #f5f5f5;
}

.shift-top-5 {
    position: inherit;
    top: 5px;
}

.shift-top-3 {
    position: inherit;
    top: 3px%;
}

.shift-top-4 {
    position: inherit;
    top: 4px;
}

.shift-top-6 {
    position: inherit;
    top: 6px;
}

.shift-top-7 {
    position: inherit;
    top: 7px;
}

.shift-top-8 {
    position: inherit;
    top: 8px;
}

.shift-top-9 {
    position: inherit;
    top: 9px;
}

.shift-down-6 {
    position: inherit;
    top: -6px;
}

.shift-down-5 {
    position: inherit;
    top: -5px;
}

.shift-down-4 {
    position: inherit;
    top: -4px;
}

.shift-down-3 {
    position: inherit;
    top: -3px;
}

.shift-top-2 {
    position: inherit;
    top: -2px;
}
